/* Styling */

@import "normalize";
@import "lg-transitions.min";
@import "lightgallery.min";


body {
    background: #f0d7d7;
}
figure {
    background: orange;
    padding: 1em;
    width: 300px;
    text-align: center;
    
    
}
main {
    background: #9b9bf0;
    margin: 0 auto;
    width: 90%;
    text-align: center;
}
main header img {
    max-height: 400px;
    width: 100%;
    max-width: 100%;
}

figure img {
    box-shadow: 2px 2px 2px gray;
}
.posterized {
    width: 100px;
    height: auto;
}