/* Styling */

@import "normalize";
@import "lg-transitions";
@import "lightgallery";
body {
    background: #f0d7d7;
}
figure {
    background: orange;
    padding: 1em;
    width: 300px;
    
    
}
.posterized {
    width: 100px;
    height: auto;
}