/* Styling */

@import "normalize";
@import "lg-transitions.min";
@import "lightgallery.min";


body {
    background-color: #f0d7d7;
    color: #eee;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}
.angela-gallery {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;

}

.page-head img {
    width: 100%;
    max-width: 100%;
    
}


/*header h1 {
    font-family: 'Yesteryear', cursive;
    color: #ecd2d2;
    position: absolute;
    text-align: left;
  
}*/
#lightGallery > a {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  margin-bottom: 0;
  padding-left: 10px;
  opacity: .7;
  background: #c7c7f1;
    
}
figcaption {
    font-size: 21px;
    color: #999;
    display: block;
    margin-top: -5px;
    
}
.thumb {
      margin-bottom: 15px;
      margin-top: 15px;
      width: 180px;
      height: auto;
      margin-right: 15px;
      border: 4px solid #2d3d4c;
      border-radius: 4px;
      overflow: hidden;
      
}

figure > a > img {
      -webkit-transition: -webkit-transform 0.15s ease 0s;
      -moz-transition: -moz-transform 0.15s ease 0s;
      -o-transition: -o-transform 0.15s ease 0s;
      transition: transform 0.15s ease 0s;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      height: 100%;
      width: 100%;
}

figure > a img:hover {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
      transform: scale3d(1.1, 1.1, 1.1);
}

figure > a:hover .demo-gallery-poster > img {
      opacity: 1;
}

figure > a > .demo-gallery-poster {
      background-color: rgba(0, 0, 0, 0.1);
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      -webkit-transition: background-color 0.15s ease 0s;
      -o-transition: background-color 0.15s ease 0s;
      transition: background-color 0.15s ease 0s;
}

a > .demo-gallery-poster img {
      left: 50%;
      margin-left: -10px;
      margin-top: -10px;
      opacity: 0;
      position: absolute;
      top: 50%;
      -webkit-transition: opacity 0.3s ease 0s;
      -o-transition: opacity 0.3s ease 0s;
      transition: opacity 0.3s ease 0s;
}

a:hover img {
      background-color: rgba(38, 84, 222, 0.2);
}

